.select{
    font-family: 'Averia Serif Libre', serif;
    font-family: 'Fira Code', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    border-radius: 10px;
}